/* src/pages/ExploreSeeds.css */

.explore-seeds {
    text-align: center;
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
  }

  .content {
    flex: 1;
}

  
  .explore-seeds h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #4b2e83;
    margin-bottom: 30px;
  }
  
  .seeds-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Set to 4 columns */
    gap: 20px;
    justify-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  
  /* responsive settings for phones/pads */
  @media (max-width: 1024px) {
    .seeds-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .seeds-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .seeds-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .seed-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    transition: box-shadow 0.3s ease;
  }
  
  .seed-item:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .seed-image {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .seed-button {
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid #9a4dbf;
    color: #9a4dbf;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .seed-button:hover {
    background-color: #9a4dbf;
    color: #fff;
  }


  