/* 
    src/components/Header.css
    author: Tong Guan
    Stylesheet for the Header component
*/

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');

/* keyframes for shifting gradient */
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    width: 91%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px; 
    background: linear-gradient(180deg, #EADDFF 0%, #F8F8FC 100%);
    font-family: 'Arial', sans-serif;
    margin-top:10px;
}

.header-left {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo {
    font-family: 'Oleo Script Swash Caps', cursive; 
    font-size: 6.8rem; 
    font-weight: 600;
    background: linear-gradient(180deg, #EADDFF 10%, #AF52DE 50%, #71358F 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 6px;
    margin-top: 10px;
}

.header-slogan {
    font-size: 2rem;
    margin-top: 0;
    margin-left: 3px;
    font-weight: bold; 
    background: linear-gradient(90deg, #6e8efb, #a777e3, #b19cd9, #ffacb7);
    background-size: 300% 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 6s ease infinite;
}

.header-slogan .highlight {
    color: inherit; 
    font-weight: bold;
}


.cta-button {
    padding: 12px 22px;
    background-color: #9a4dbf;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 6px;
}

.cta-button:hover {
    background-color: #7a519f;
    transform: translateY(-3px); 
}


.header-right {
    display: flex;
    gap: 15px; 
    align-items: flex-start; 
}

.header-image {
    width: 250px;
    height: 250px; 
    border-radius: 10px; 
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
}


.header-image:nth-child(odd) {
    margin-top: 30px;
}

.header-image:nth-child(even) {
    margin-top: 0; 
}

.header-image:hover {
    transform: scale(1.03) translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}